
<form action="/Books/Login" method="post">
    Username:<input type="text" name="username" id="username" placeholder="username"></input><br></br>
    Password:<input type="text" name="password" id="password" placeholder="password"></input><br></br>

    <button>Submit</button>
</form>
